# Files and directories created by pub.
.dart_tool/
.packages

# only ignore the top level one
/pubspec.lock

# Conventional directory for build output.
build/
coverage/


# IDE folder
.vscode/
.idea/
*.iml

# osaxma local repo 
/temp/